
        body {margin: 0;
            font-family: Arial, Helvetica, sans-serif;}
            

        body {background-color: #cff480;

           }

           ul.valikko {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: auto;
            background-color: #1c8cb8;
          }
          
          li {
            float: left;
          }
          
          li a, .dropbtn {
            display: inline-block;
            color: rgb(255, 255, 255);
            text-align: center;
            padding: 30px 45px;
            text-decoration: none;
            
          }
          
          li .active{
              background-color: #0eb353;
          }
          
          li a:hover, .dropdown:hover .dropbtn {
            background-color: #bc1bbc;
          }
          
          li.dropdown {
            display: inline-block;
          }
          
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #bc1bbc;
            min-width: 100%;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
          }
          
          .dropdown-content a {
            color: rgb(253, 251, 251);
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
          }
          
          .dropdown-content a:hover {background-color: #4e0463;}
          
          .dropdown:hover .dropdown-content {
            display: block;
          }
           header{padding:10px;}
            p{padding: 10px;}
           footer{padding: 10px;} 

           @media (max-width: 600px){
            .valikko {display: none;
                        flex-direction: column;
                        }
        
                .dropdown {
                    display: none;
                }
                .dropdown-content a{
                    display: block;
                }
        
        
                .hamburger {
                    display: block;
                    cursor: pointer;
                    font-size: 24px;
                    padding: 10px;
                    background-color: #0eb353;
                    color: white;
                    border: none;
                }
                
                  
        }
        
        @media (min-width: 600px) {
                    
        
                    .hamburger {
                        display: none;
                    }
                    
        
                }
           
        

       


/** {box-sizing: border-box;} /*pitää laatikot määritellyn kokoisina*/ /* tähti alussa antaa saman arvon kaikille elementeille */
/*body{color:rgb(4, 90, 70); /* tekstin väri */
   /* background-color:rgb(226, 238, 228); /* taustan väri */
   /* font-family: Verdana, Geneva, Tahoma, sans-serif; /* fonttiperhe */
    /*background-image: url(kissa.jpg); /* taustakuva, huom. pitää olla samassa kansiossa */
    /*background-repeat: no-repeat; /* taustakuvan toisto, tämä nyt yhteen kertaan */
   /* background-size: cover; /* taustakuvan leveys */
    /*background-attachment: fixed; /* kiinnittää taustakuvan */
/*}


#kisu {width:80%; /* suhteellinen leveys */
       /* max-width:600px;   /*absoluuttinen maksimileveys */   
       /* border-radius: 20%; /*reunojen pyöristys*/
       /* }

#salakisu {width:25%; /* suhteellinen leveys */
   /* max-width:600px;   /*absoluuttinen maksimileveys */   
   /* border-radius: 20%; /*reunojen pyöristys*/
  /*  }
#katti {width:25%; /* suhteellinen leveys */
   /* max-width:600px;   /*absoluuttinen maksimileveys */   
    /*border-radius: 20%; /*reunojen pyöristys*/
   /* }
#kolli {width:25%; /* suhteellinen leveys */
   /* max-width:600px;   /*absoluuttinen maksimileveys */   
   /* border-radius: 20%; /*reunojen pyöristys*/
    /*}

.kisulit {text-align: center;}

figure {text-align: center;} /*keskittää kuvan*/

/* !important kumoaa muut määritykset */
/*h1 {color:rgba(4, 77, 16)!important;
    text-align: center;}
h2 {color:rgb(4, 77, 16);
    text-shadow: 5px 5px 5px rgb(32, 130, 8); /* tekstin heittovarjo */
/*}
main{border: green 1px solid; /* reunus */
   /* width: 90%; /* leveys suhteellisena arvona*/
   /* max-width: 1200px; /* maksimileveys*/
   /* margin: auto; /* keskittää sivulle */
   /* background-color: rgb(151, 246, 135, 0.4);
    color: rgb(19, 4, 47);
    border-radius: 30px 0px; /* kulmien pyöristys */
   /* box-shadow: 8px 8px 10px rgb(32, 130, 8); /* heittovarjo*/
    /*padding: 50px 30px 100px 10px; /* sisältö irto reunasta */
/*}